.navbar {
    max-width: 100%;
}

.navbar .content {
    display: flex;
    flex-direction: row;
    background: #2c4047;
    height: 70px;
    justify-content: center;
}

.navbar .content .logo {
    width: 60px;
}

.navbar .socials {
    margin-left: 25px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

.twitter-icon {
    height: 25px;
    background: #2c4047;
    border-radius: 50%;
}

.facebook-icon {
    height: 29px;
    background: transparent;
}

.instagram-icon {
    background: transparent;
    height: 27px;
    border-radius: 50%;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 600px
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar li {
    padding-right: 15px;
    padding-left: 15px;
}

a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}