.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.best-selling {
    display: flex;
    padding-left: 20px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}